
.text-text
  color $text
.bg-text
  background-color $text

.text-bg-light
  color $bg-light
.bg-bg-light
  background-color $bg-light

.text-gray-light
  color $gray-light
.bg-gray-light
  background-color $gray-light

.text-gray-dark
  color $gray-dark
.bg-gray-dark
  background-color $gray-dark

.text-gray-medium
  color $gray-medium
.bg-gray-medium
  background-color $gray-medium
