// app global css
body
  color $text
  font-family $font-main

.modal.maximized .modal-content
    width 100% !important
    height 100% !important
    max-width 100% !important
    max-height 100% !important
    border-radius 0 !important

.app-menu-modal.q-modal-top-enter, .app-menu-modal.q-modal-top-leave-active
  opacity 1
  .modal-content
    transform translateY(-100%)

.app-menu-modal.modal._closed
  background rgba(0,0,0,0) !important
// .app-menu-modal.q-modal-top-enter, .app-menu-modal.q-modal-top-leave-active
//   background rgba(0,0,0,0.4) !important
.app-menu-modal.modal._opened
  background rgba(0,0,0,0.3) !important

.app-menu-modal.modal
  transition all .3s ease-in-out, background .4s linear
.app-menu-modal .modal-content
  transition all .3s ease-in-out

.qr-code
  canvas
    width 100% !important
    height auto !important
