
o-btn()
  font-size 1.15rem
  py 1.15rem
  px 1.3rem
  color white
  font-weight 600
  min-width 16.5rem
  border none
  border-radius .3rem
  white-space nowrap
  text-decoration none
  text-align center
  shadow-2()

.o-btn--p
  o-btn()
  background-color $primary
.o-btn--s
  o-btn()
  background-color $secondary

.o-indent
  pl lg

.o-link
  text-decoration none !important
  color $secondary
  display flex
  align-items center
