
o-btn()
  ma 0
  border none
  pa md
  font-size 1em
  background-color $primary
  color white
  font-weight 500
  border-radius $radius
  white-space nowrap
  text-decoration none
  text-align center
  display flex
  justify-content center
  user-select none
  shadow-subtle()
.o-btn
  o-btn()
  background-color $primary
.o-btn--s
  o-btn()
  background-color $secondary

o-txt-btn()
  ma 0
  border none
  pa xs
  font-size 1em
  background none
  color $primary
  font-weight 500
  white-space nowrap
  text-decoration none
  text-align center
  display flex
  justify-content center
.o-txt-btn
  o-txt-btn()

.o-indent
  pl lg

.o-link
  text-decoration none !important
  color $secondary
  display flex
  align-items center
